@tailwind base;
@tailwind components;
@tailwind utilities;

/* MOBILE BACKGROUND */
.gradient-bg {
	height: 200px; /* Adjust height as needed */
	background: linear-gradient(to bottom, #fdf3fd 100%, #f5f 100%, #ffffff 90%);
}

@media (min-width: 768px) {
	.gradient-bg {
		background: none; /* Remove the gradient background on medium screens and above */
	}
}

/* UPLOAD SPINNER */
.spinner {
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* TOAST */
.animate-toast-pop-up {
	animation: toast-pop-up 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes toast-pop-up {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	70% {
		transform: translateY(-10%);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
	}
}

/* LOADING BAR */
.loading-bar {
	background: linear-gradient(to right, #ea749d, #8e8ef6);
	transition: width 0.5s ease-in-out;
}
