@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
	height: 200px; /* Adjust height as needed */
	background: linear-gradient(to bottom, #fdf3fd 100%, #f5f 100%, #ffffff 90%);
}

@media (min-width: 768px) {
	.gradient-bg {
		background: none; /* Remove the gradient background on medium screens and above */
	}
}
